<h1>About Us</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiGvKi916TVAhWIiVQKHa67CDcQjRwIBw&url=https%3A%2F%2Fpixabay.com%2Fen%2Fphotos%2Fdog%2F&psig=AFQjCNHMxG6oPQxh7VUhqptQTOr8H1ZmmA&ust=1501080691724435"alt="Profile Image">
  </div> 
  
  <div class="col-md-8">
    
  </div>
</div>
