<h1>About Us</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWLF_1V4rhiIvzMu79EKXoj66FTfXc0YP9XaL6m-ckDZ7Q-LB-:https://upload.wikimedia.org/wikipedia/commons/4/4c/Potato_heart_mutation.jpg" alt="Profile Image">
  </div> 
  
  <div class="col-md-8">
    
  </div>
</div>
