<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">This is a portfolio for Gabriel Wilkins, feel free to look around and see what I have accomplished. And what I am currently working on.</p>
  <p class="lead">
    <%= link_to 'About Me', about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>