<div class="card">
  <div class="card-block">
    <h2>Update Permissions</h2>
    
    <form action="<%= root_path %>">
      Admin Password:<br>
      <input type="password" name="passcode" autocomplete="off"><br><br>
      <input type="submit" value="Submit" >
      
      <% if @submit = "" %>
        <% User.last.update_attribute :roles, "site_admin" %>
      <% end %>
      
    </form>
    
    <div class="auth-links">
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>